[submodule "Applications"]
	path = Applications
	url = ../../redpitaya-2-0/redpitaya-pro.git
	branch = master

[submodule "scpi-server/scpi-parser"]
	path = scpi-server/scpi-parser
	url = https://github.com/RedPitaya/scpi-parser
